.img_alex {
    width: 400px;
    height: 100%;
    display: block;
}


.container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 10rem;
    background-color: #212427;
}

.about_container {
    display: block;
}

.author_name {
    font-size: 6rem;
    font-weight: 700;
}

.subheader {
    color: #FFCC00;
}

.image_container {
    text-align: center;
    line-height: 0;

}

.image_container_bottom {
    display: none;
    visibility: hidden;
}

.title_container {
    padding: 2rem;
}

.text_content {
    padding: 0 2rem 0 2rem;
    margin: 0 auto;
    line-height: 2rem;
    width: 90%;
    max-width: 1100px;
}



@media (max-width: 1650px) {

    .container {
        margin: 0;
    }

    .about_container {
        display: block;
        width: 100%;
    }

    .text_content {
        margin: 0;
        padding: 2rem;
    }
}


@media (max-width: 990px) {

    .container {
        display: block;
        margin:  0;
    }

    .text_content {
        margin: 0 auto;
        text-align: center;
        width: 90%;
        max-width: 600px;
    }

    .image_container {
        display: none;
    }

    .image_container_bottom {
        display: block;
        visibility: visible;
        width: 100%;
        line-height: 0;
    }
}


@media (max-width: 550px) {

    .author_name {
        font-size: 4rem;
    }
}


@media (max-width: 450px) {

    .author_name {
        font-size: 4.25rem;
    }

    .subheader {
        font-size: 1.25rem;
    }

    img {
        width: 200px;
    }
}


@media (max-width: 450px) {

    .author_name {
        font-size: 3rem;
    }

    .subheader {
        font-size: 1rem;
    }
}