.img_alex {
    width: 450px;
    height: auto;
    object-fit: cover;
    display: block;
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 10rem;
    background-color: #212427;
}

.about_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.author_name {
    font-size: 6rem;
    font-weight: 700;
}

.subheader {
    color: #FFCC00;
    margin-top: -1rem;
    letter-spacing: 2px;
}

.image_container {
    line-height: 0;
    display: flex;
}

.title_container {
    padding: 2rem;
}

.text_content {
    padding: 0 3rem;
    margin: 0 auto;
    line-height: 2.2rem;
    width: 100%;
    max-width: 900px;
    text-align: left;
}

@media (max-width: 1650px) {
    .container {
        margin: 0 5rem;
    }
    .author_name {
        font-size: 5rem;
    }
}

@media (max-width: 1400px) {
    .container {
        margin: 0;
    }
}

@media (max-width: 990px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .about_container {
        order: 1;
        width: 100%;
    }

    .image_container {
        order: 2;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 2rem;
    }

    .img_alex {
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    .text_content {
        text-align: center;
        padding: 0 1.5rem 2rem 1.5rem;
    }
}

@media (max-width: 550px) {
    .author_name {
        font-size: 3.5rem;
    }
}

@media (max-width: 450px) {
    .author_name {
        font-size: 2.8rem;
    }

    .subheader {
        font-size: 1rem;
    }
}