.banner_wrapper {
    width: 100vw;
    background-color: #000; 
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}


.header_content {
    text-align: center;
    margin-bottom: -30px; 
    z-index: 10;
}

.overline {
    color: #ffcc00; 
    letter-spacing: 3px;
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.author_name {
    color: #fff;
    font-size: 10rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
}


.main_stripe {
    width: 100vw;
    background-color: #2a2a2a; 
    padding: 5px 0;
    margin-top: 50px;
}

.content_container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0 20px;
}


.book_side {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.book_img {
    max-height: 300px;
    width: 200px;
    height: 300px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.8);
    transform: translateY(-20px); 
}


.text_side {
    flex: 1.5;
    color: #fff;
}

.featured_title {
    color: #ffcc00 ; 
    font-size: 2.2rem;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.book_meta, .release_date, .description {
    color:  #ffcc00; 
    margin: 5px 0;
    font-size: 1rem;
}

.description {
    margin-top: 15px;
    color: #ccc;
    max-width: 400px;
}

.preorder_btn {
    margin-top: 25px;
    padding: 10px 25px;
    background: transparent;
    color:  #ffcc00;
    border: 1px solid  #ffcc00;
    font-size: 0.8rem;
    font-style: italic;
    cursor: pointer;
    transition: 0.3s;
}

.preorder_btn:hover {
    background:  #ffcc00;
    color: #fff;
}


@media (max-width: 900px) {
    .content_container {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .book_side {
        justify-content: center;
    }

    .book_img {
        max-height: 350px;
        transform: translateY(0);
    }

    .author_name {
        font-size: 2.5rem;
    }

    .description {
        margin: 15px auto;
    }
}