.wrapper {
    width: 100%;
    min-height: 100vh;
}

.img {
    width: 100%;
    height: auto;
    display: block;
}

.image_container {
    display: flex;
    flex-direction: column;
    width: 300px;
    flex-shrink: 0;
}

.image_container div[class*="yearRow"],
.info div[class*="yearRow"] {
    display: none !important;
}

.image_container div[class*="genreRow"],
.info div[class*="genreRow"] {
    width: 100% !important;
    font-size: 1.1rem !important;
    padding: 8px 0 !important;
}

.tag_desktop {
    display: block;
    margin-top: -0.2rem;
    margin-bottom: 1.5rem;
    width: 100%;
}

.tag_desktop>div {
    margin: 0 !important;
    width: 100% !important;
}

.tag_desktop div[class*="genreRow"] {
    padding: 6px 0 !important;
    font-size: 0.85rem !important;
    letter-spacing: 4px;
    display: block;
    width: 100% !important;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
}

.tag_mobile {
    display: none;
}

.book_container {
    display: flex;
    margin: 2rem 20rem;
    margin-top: 170px !important;
    align-items: flex-start;
    justify-content: center;
}

.info {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    min-width: fit-content;
}

.title {
    font-size: 4.5rem;
    color: white;
    margin-top: 0;
    margin-bottom: 0.5rem;
    letter-spacing: 4px;
    line-height: 1.1;
    white-space: nowrap;
    display: block;
    text-align: center;
}

.collection {
    padding-bottom: 2rem;
    font-size: 1.5rem;
    color: #ccc;
}

.description {
    max-width: 600px;
    width: 600px;
    line-height: 2rem;
}

.amazon_btn {
    display: inline-block;
    background-color: #ff9900;
    color: #000;
    padding: 0.8rem 2rem;
    font-size: 1.1rem;
    font-weight: 900;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.2s;
    margin-top: 3rem;
    align-self: flex-start;
}

.amazon_btn:hover {
    background-color: #e68a00;
}

.related_header {
    text-align: center;
    padding: 2rem 0;
    font-size: 1.5rem;
    margin-top: 10rem;
    color: white;
}

.related_books_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    padding-bottom: 2rem;
    max-width: 100%;
}

.related_container {
    flex: 0 1 auto;
}

.related_image_container {
    padding: 1rem;
    width: 180px;
}

.related_img {
    width: 100%;
    height: auto;
    display: block;
    transition: 0.25s ease-in-out;
}

.related_img:hover {
    transform: scale(1.05);
}

@media (max-width: 1650px) {
    .book_container {
        margin: 2rem;
    }

    .related_books_wrapper {
        margin: 0;
    }

    .description {
        max-width: 650px;
    }

    .info {
        margin-left: 2rem;
    }
}


@media (max-width: 1200px) {
    .book_container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 100px !important;
    }

    .tag_desktop {
        display: none;
    }

    .tag_mobile {
        display: block;
        width: 100%;
        margin-top: 15px;
    }

    .tag_mobile>div {
        margin: 0 auto !important;
    }

    .image_container {
        width: 280px;
        margin: 0 auto 1rem auto;
    }

    .title {
        margin-top: 30px;
    }

    .info {
        margin-left: 0;
        align-items: center;
    }

    .description {
        max-width: none;
        padding: 0 1rem;
    }

    .amazon_btn {
        align-self: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 650px) {
    .title {
        font-size: 3.5rem;
        margin-top: 30px;

    }

    .amazon_btn {
        width: 70%;
        padding: 1rem;
        font-size: 1.2rem;
        margin-left: 0;
        margin-right: 0;
    }

    .info {
        width: 100%;
        min-width: 0;
        margin-left: 0;
    }

    .description {
        width: 100%;
        max-width: 100vw;
        margin: 0;
        padding: 0 20px;
        box-sizing: border-box;
        font-size: 1rem;
        line-height: 1.6rem;
        text-align: center;
    }
}

@media (max-width: 350px) {
    .image_container {
        width: 200px;
    }
}