

.img {
    width: 100%;
    height: auto;
}

.related_img {
    width: 100%;
    height: auto;
}

.related_img:hover {
    transform: scale(1.05);
    transition: 0.25s ease-in-out;
}

.book_container {
    display: flex;
    margin: 2rem 20rem;
    align-items: center;
}

.info {
    margin-left: 4rem;
}

.title {
    font-size: 4rem;
    color: darkcyan;
}

.description {
    max-width: 600px;
    line-height: 2rem;
}

.collection {
    padding-bottom: 2rem;
}

.buy_wrapper {
    text-align: center;
    margin-top: 8rem;
}

.buy_container {
    display: flex;
    justify-content: space-evenly;
}

.buy_header h1 {
    font-size: 3rem;
}

.location {
    margin: 2rem 0rem;
    justify-content: center;
    font-size: 1.5rem;
    color: brown;
    font-weight: 900;
}

.links {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}

.btn {
    padding: 0.5rem 2rem;
    margin: 0 0.5rem;
    cursor: pointer;
    color: #F3F3F3;
}

.btn:hover {
    color: darkcyan;
}


.related_header {
    text-align: center;
    padding: 2rem 0;
    font-size: 1.5rem;
}

.related_books_wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0rem 20rem;
}

.related_image_container {
    padding: 1rem 3rem;
}




@media (max-width: 1650px) {
    .book_container {
       text-align: center;
       margin: 1rem;
    }
    .related_books_wrapper {
       grid-template-columns: repeat(4, 1fr);
       justify-content: center;
       margin: 0;
       padding: 0;
    }
    .description {
        max-width: none;
        margin: 0;
        text-align: center;
        padding: 2rem;
        line-height: 2rem;
    }
    .description {
        max-width: 650px;
    }
    .info {
        margin-left: 2rem;
    }
    .img {
        min-width: 200px;
    }
}


@media (max-width: 1250px) {
    .book_container {
        text-align: center;
        margin: 2rem; 
    }
    .related_books_wrapper {
       grid-template-columns: repeat(3, 1fr);
       margin: 2rem;
    }
    .description {
        max-width: 650px;
    }
}


@media (max-width: 950px) {
    .related_books_wrapper {
       grid-template-columns: repeat(2, 1fr);
       padding: 1rem;
    }
}


@media (max-width: 850px) {
    .book_container {
        display: flex;
        flex-direction: column;
    }
    .description {
        margin: 0;
        padding: 0;
    }
    .info {
        margin-left: 0rem;
    }
    .related_image_container {
        padding: 1rem;
    }    
}


@media (max-width: 550px) {
    .related_books_wrapper {
        grid-template-columns: repeat(2, 1fr);
     }
    .img {
        min-width: 140px;
    } 
    .buy_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
    .links {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    .buy_header h1 {
        padding-bottom: 1rem;
    }
}

@media (max-width: 350px) {
    .img {
        min-width: 100px;
    }  
}