.title_container {
   text-align: center;
   margin-top: 4rem;
}

.header_text_smallScreens {
    display: none;
}

.category_header {
    padding-bottom: 1rem;
    color: darkcyan;
}

.category_title {
    margin-bottom: 1rem;
    font-weight: bold;
}

.content_container {
    display: flex;
}

.selector_container {
    display: block;
    text-align: center;
    margin: 2rem 4rem;
}

.selector_container p {
    padding: 0.5rem;
    text-wrap: nowrap;
}

.books_container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    margin: 1rem auto; 
    flex-grow: 1;
}

.image {
    width: 100%; 
    height: auto; 
    padding: 1rem;
}

.image:hover {
    transform: scale(1.05);
    transition: 0.25s ease-in-out;
}

.individual_selector:hover {
    cursor: pointer;
    color: darkcyan;
}

@media (max-width: 1100px) {
    .books_container {
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width: 900px) {
    .books_container {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 650px) {
    .books_container {
        grid-template-columns: repeat(1, auto);
    }
    .content_container {
        display: block;
    }
    .selector_container {
        display: block;
        text-align: left;
        margin: 0 1rem;
    }
    .header_text {
        display: none;
    }
    .header_text_smallScreens {
        display: block;
        text-align: center;
        margin: 2rem 0;
    }
}



