


.img {
    width: 100%;
    height: auto;
}

.wrapper {
    border-top: 1px solid #F3F3F3;
    margin-top: 4rem;
}

.container {
    margin: 2rem;
}


.card {
    display: flex;
    margin: 4rem 2rem;
}


.content_container {
    padding-left: 4rem;
    max-width: 60rem;  
}

.date {
    padding-bottom: 1rem;
}

.text  {
    padding: 1rem 0;
}

.title {
    color: #FFCC00;
    font-size: 2.5rem;
}



@media (max-width: 1150px) {
   
    .container {
     margin: 1rem 0;
    }
    .title {
        font-size: 2rem;
    }
     .text_content {
     margin: 0;
    }
 }


 @media (max-width: 550px) {
   
    .content_container {
        padding-left: 1rem; 
    }
    .card {
        display: block;
    }
 }


 @media (max-width: 450px) {
   
    .date {
        margin-top: 1rem;
    }
 }



