.wrapper {
    background-color: #F3F3F3;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    gap: 60px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.title {
    max-width: 500px;
}

.text {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
    color: #222;
}

.container {
    min-width: 400px;
}

@media (max-width: 1150px) {
    .wrapper {
        flex-direction: column;
        padding: 60px 20px;
        text-align: center;
        gap: 40px;
    }

    .title {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .container {
        min-width: unset;
        width: 100%;
        max-width: 500px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .container :global(.emailoctopus-form-wrapper) {
        margin: 0 auto !important;
    }
}

@media (max-width: 500px) {
    .text {
        font-size: 1.6rem;
    }
}