


.wrapper {
    text-align: center;
    align-items: center;
    background-color: #F3F3F3;
}

.header {
    padding-top: 4rem;
    font-size: 2rem;
    color: #222;
}

.header p {
    color: brown;
    padding: 1rem 0;
    margin-bottom: 4rem;
}

.content_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    margin: 0 10rem;
}

.image {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
    padding: 0 0.5rem;
}

.image:hover {
    transform: scale(1.05);
    transition: 0.25s ease-in-out;
}



@media (max-width: 1450px) {
    .content_container {
        margin: 0 2rem;
    }
}


@media (max-width: 1100px) {
    .content_container {
        grid-template-columns: repeat(3, 1fr);
    }
    .image {
        padding: 0.5rem;
    }
}


@media (max-width: 550px) {
    .content_container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 350px) {
    .content_container {
        grid-template-columns: repeat(1, 1fr);
    }
}