.wrapper {
  display: block;
  width: 180px; 
  margin: 10px auto 0 auto;
}

.yearRow {
  background-color: transparent;
  color: #F3F3F3;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0;
  width: 100%;
}

.genreRow {
  color: #fff;
  text-align: center;
  font-family: 'Arial Black', sans-serif;
  font-size: 11px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 8px 0;
  width: 100%;
}

.cienciaficcion, 
.sciencefiction, 
.science-fiction { 
  background-color: #f1c40f !important; 
  color: #000 !important; 
}

.distopia,
.secretsoftime,
.secrets-of-time,
.secretsoftime,
.secretsoftime,
.standalones { 
  background-color: #D3D3D3 !important; 
  color: #000000 !important;
  border: 1px solid #BCBCBC !important;
  display: block !important;
}

.thriller { 
  background-color: #2980b9 !important; 
  color: #fff !important;
}

.terror, 
.finalgirl, 
.final-girl, 
.crimen { 
  background-color: #FF0000 !important; 
  color: #fff !important;
}

.sobrenatural, 
.mysticfire, 
.mystic-fire, 
.valhalla, 
.silentstranger, 
.silent-stranger { 
  background-color: #800080 !important; 
  color: #fff !important;
}